.summary {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 40px;

  &__reactions {
    list-style: none;
    display: flex;
    padding: 0;

    li {
      border-radius: 50%;
      background-color: #f9f9f9;
      border: 1px solid #fff;
      margin: auto -2px;
    }
  }

  &__text {
    padding-left: 6px;
    color: #777;
  }
}
